
.icon-steering-wheel:before { content: '\e800'; } /* '' */
.icon-up-bold:before { content: '\e801'; } /* '' */
.icon-gauge:before { content: '\e802'; } /* '' */
.icon-cog-alt:before { content: '\e803'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */